.list-el {
  display: flex;
  background-color: white;
  border-bottom: 1px solid gray;
  padding: 0 10px;
  div {
    min-width: 100px;
    margin-right: 20px;
  }
}

.list-subtask {
  color: gray;
}

.list-task {
  display: flex;
  flex-direction: column;
}

.list-alert {
  color: red;
}

.list-edit {
  margin-top: 30px;
}