#refuel-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #153445;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#refuel-slider:hover {
  opacity: 0.9;
}

#refuel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  border: none;
  border-radius: 50%;
  background: #0081c5;
  cursor: pointer;
  opacity: 1;
}

#refuel-slider::-webkit-slider-thumb:hover {
  opacity: 1;
}

#refuel-slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #0081c5;
  cursor: pointer;
}

#refuel-slider::-moz-range-thumb:hover {
  opacity: 1;
}
