#refuel-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: rgba(21, 52, 69, 0.7);
  border-radius: 10px;
  outline: none;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
}

#refuel-slider:hover {
  background: rgba(21, 52, 69, 0.9);
}

#refuel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 129, 197, 0.8);
  cursor: pointer;
}

#refuel-slider::-webkit-slider-thumb:hover {
  background: rgba(0, 129, 197, 1);
}

#refuel-slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: rgba(0, 129, 197, 0.8);
  cursor: pointer;
}

#refuel-slider::-moz-range-thumb:hover {
  background: rgba(0, 129, 197, 1);
}
