<h2>INDEX VEHICLES</h2>

<div>
  <%= link_to "Ajouter un véhicule", new_vehicle_path %>
</div>

<div>
  <h3>Mes véhicules</h3>
  <ul>
    <% @vehicles.each do |vehicle| %>
      <li> <strong> <%= vehicle.brand %> </strong> <%= vehicle.model %> 
      <br> <%= link_to "Fiche technique", vehicle_path(vehicle.id) %>
      </li>
    <% end %>
  </ul>
</div>
